.git
PoliklinikaAPI/appsettings.json
.vs
PoliklinikaAPI/obj/Debug/netcoreapp3.1/PoliklinikaAPI.csprojAssemblyReference.cache
PoliklinikaDesktop/obj/Debug/netcoreapp3.1/PoliklinikaDesktop.csprojAssemblyReference.cache
UpgradeLog.htm
Poliklinika.Model/obj/**
Poliklinika.Model/bin/**
PoliklinikaAPI/obj/**
PoliklinikaAPI/bin/**
PoliklinikaDesktop/obj/**