.git
appsettings.json
.vs/**
.vs/RazvojSoftvera2/v16/.suo
PoliklinikaAPI/appsettings.json
PoliklinikaAPI/obj/Debug/netcoreapp3.1/PoliklinikaAPI.csprojAssemblyReference.cache
PoliklinikaDesktop/obj/Debug/netcoreapp3.1/PoliklinikaDesktop.csprojAssemblyReference.cache
UpgradeLog.htm
Poliklinika.Model/obj/**
Poliklinika.Model/bin/**
PoliklinikaAPI/obj/**
PoliklinikaAPI/bin/**
PoliklinikaDesktop/obj/**
PoliklinikaDesktop/bin/**
PoliklinikaAndroid/bin/**
PoliklinikaAndroid/obj/**
Poliklinika.Mobile.Android/obj/**
Poliklinika.Mobile/Poliklinika.Mobile.iOS/obj/**
Poliklinika.Mobile.iOS/obj/**
Poliklinika.Mobile/obj/**
Poliklinika.Mobile/Poliklinika.Mobile/obj/**
Poliklinika.Mobile/Poliklinika.Mobile.Android/obj/**
Poliklinika.Mobile/Poliklinika.Mobile.UWP/obj/**
Poliklinika.Mobile/Poliklinika.Mobile.UWP/bin/**
Poliklinika.Mobile.UWP/obj/**
Poliklinika.Mobile.UWP/bin/**